.singUpWrapperContainer{
  background-color: #FFCEAE;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .main{
    background-color: #fff;
    padding: 50px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    animation-name: move ;
    animation-duration: 1s ;
    
    p{
      color: rgba(0, 0, 0, 0.5);
      font-size: 15px;
      position: relative;
      bottom: 20px;
    }

    h2{
      padding: 5px 0 ;
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 84px;
      color: #000000;
      animation-name: colorChange;
      animation-duration: 10s;
      animation-delay: 0s;
      animation-iteration-count: infinite;

    }

    form{
      label{
        visibility: hidden;
      }
      input{
        display: block;
        border-radius: 4px;
        background: #FFF6F4;
        border: none;
        outline: none;
        font-size: 16px;
        padding: 10px;
      }
    }
    .button{
      display: flex;
      justify-content: center;
      button{
        margin: 20px 0;
        border: none;
        cursor: pointer;
        
        background: #F47458;
        border-radius: 20px;
        font-size: 16px;
        padding: 5px;
      }
    }
   
    footer{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      a{
        text-decoration: none;
        color: #F47458;
      }
    }
  }
}

@keyframes colorChange{
  0%{color: #fff;}
  50%{color: #d94646;}
  100%{color: #F47458;}
}

@keyframes move{

  from{
    opacity: 0.5 ;
    transform: translateY(-50%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);

  }
}